.vtv__code {

  // For shorter files that don't have enough
  // lines to fill up the height of the container,
  // we set a minimum height so the background
  // coloring extends to the full height of the
  // code panel. This also includes setting the
  // `<code>` tag to have full height below.
  height: 100%;
  overflow-y: scroll;
  font-size: 14px;
  line-height: 1.3;

  & > pre {
    height: 100%;
    // Override browser default margins
    margin: 0;
  }

  & > pre > code {
    box-sizing: border-box;
    height: 100%;
    padding-left: 10px !important;
  }
}
