{
  extends: [
    "eslint:all",                       // List of rules: https://eslint.org/docs/rules
  ],
  env: {
    browser: true,
    node: true,
    es6: true
  },
  parser: "babel-eslint",
  parserOptions: {
    sourceType: "module",
    ecmaFeatures: {
      impliedStrict: true
    }
  },
  plugins: [],
  settings: {},
  rules: {
    arrow-body-style:                       "off",
    brace-style:                            ["error", "stroustrup", { allowSingleLine: true }],
    capitalized-comments:                   "warn",
    comma-dangle:                           ["warn", "never"],
    consistent-this:                        "off",
    default-case:                           ["warn", { "commentPattern": "^eslint\\sskip\\sdefault" }],
    eqeqeq:                                 ["error", "smart"],
    func-style:                             ["error", "declaration", { allowArrowFunctions: true }],
    function-call-argument-newline:         "off",
    id-length:                              "off",
    indent:                                 ["error", 2, { "SwitchCase": 1 }],
    init-declarations:                      "off",
    key-spacing:                            ["error", { "mode": "minimum" }],
    max-len:                                ["warn", 150, { comments: 80, ignoreTrailingComments: true, ignoreUrls: true }],
    max-lines-per-function:                 ["error", { skipComments: true, skipBlankLines: true }],
    max-statements-per-line:                "off",
    max-statements:                         "off",
    multiline-ternary:                      "off",
    no-continue:                            "off",
    no-extra-parens:                        "warn",
    no-inline-comments:                     "warn",
    no-magic-numbers:                       ["warn", { "ignore": [-1, 0, 1] }],
    no-plusplus:                            ["warn", { "allowForLoopAfterthoughts": true }],
    no-ternary:                             "off",
    no-unused-vars:                         ["error", { argsIgnorePattern: "^_", varsIgnorePattern: "^_" }],
    object-curly-spacing:                   ["error", "always"],
    object-property-newline:                ["error", { "allowAllPropertiesOnSameLine": true }],
    object-shorthand:                       "off",
    one-var:                                "off",
    padded-blocks:                          "off",
    prefer-arrow-callback:                  "warn",
    prefer-destructuring:                   "off",
    quote-props:                            ["error", "consistent"],
    quotes:                                 ["warn", "single"],
    semi:                                   ["error", "always"],
    sort-imports:                           ["warn", { ignoreCase: true }],
    sort-keys:                              "off",
    space-before-function-paren:            ["error", "never"],
    space-in-parens:                        ["warn", "never"]
  },
  overrides: [
    {
      files: [
        "src/**/*test.js"
      ],
      env: {
        jest: true
      },
      rules: {
        max-lines:                          "off",
        max-lines-per-function:             "off",
        no-magic-numbers:                   "off",
        no-undef:                           "off",
        no-unused-expressions:              "off",
        no-use-before-define:               "off"
      }
    }
  ]
}
