{
  extends: [
    "eslint:all",                       // List of rules: https://eslint.org/docs/rules
    "prettier",                         // Configuration: https://github.com/prettier/eslint-config-prettier
  ],
  env: {
    browser: true,
    node: true,
    es6: true
  },
  parser: "babel-eslint",
  parserOptions: {
    sourceType: "module",
    ecmaFeatures: {
      impliedStrict: true
    }
  },
  plugins: [],
  settings: {},
  rules: {
    arrow-body-style:                       "off",
    capitalized-comments:                   "warn",
    consistent-this:                        "off",
    default-case:                           ["warn", { "commentPattern": "^eslint\\sskip\\sdefault" }],
    eqeqeq:                                 ["error", "smart"],
    func-style:                             ["error", "declaration", { allowArrowFunctions: true }],
    function-call-argument-newline:         "off",
    id-length:                              "off",
    init-declarations:                      "off",
    max-lines-per-function:                 ["error", { skipComments: true, skipBlankLines: true }],
    max-statements-per-line:                "off",
    max-statements:                         "off",
    multiline-ternary:                      "off",
    no-continue:                            "off",
    no-inline-comments:                     "warn",
    no-magic-numbers:                       ["warn", { "ignore": [-1, 0, 1] }],
    no-plusplus:                            ["warn", { "allowForLoopAfterthoughts": true }],
    no-ternary:                             "off",
    no-underscore-dangle:                   "off",
    no-unused-vars:                         ["error", { argsIgnorePattern: "^_", varsIgnorePattern: "^_" }],
    object-shorthand:                       "off",
    one-var:                                "off",
    prefer-destructuring:                   "off",
    sort-imports:                           ["warn", { ignoreCase: true }],
    sort-keys:                              "off"
  },
  overrides: [
    {
      files: [
        "src/**/*test.js"
      ],
      env: {
        jest: true
      },
      rules: {
        line-comment-position:              "off",
        max-lines:                          "off",
        max-lines-per-function:             "off",
        no-inline-comments:                 "off",
        no-magic-numbers:                   "off",
        no-unused-expressions:              "off",
        no-use-before-define:               "off"
      }
    }
  ]
}
