*.DS_Store
*.ico
*.jpg
*.keep
*.lock
*.md
*.png
*.scss
*.sh
*.svg
*.webmanifest
*.xml
*.yml

public/*
tmp/*
log/*
node_modules/*
vendor/*
.git/*

.babelrc
.dockerignore
.env.development
.env.development.sample
.env.production.sample
.env.test
.eslintignore
.eslintrc
.gitignore
.hound.yml
.prettierignore
.prettierrc.json
.scss-style.yml
.stylelintrc
config.ru
docker-compose.yml
Dockerfile
entrypoint.sh
