@import "components/VanillaTreeViewer/Breakpoints.scss";
@import "components/VanillaTreeViewer/Colors.scss";

.vtv__tree {
  box-sizing: border-box;
  min-width: 200px;
  height: 200px;
  margin: 0;
  padding: 20px 0;
  overflow-x: auto;
  color: $black;
  white-space: nowrap;
  background-color: $wimbeldon_ridge;

  @include breakpoint($screen-xs) {
    width: 200px;
    height: auto;
  }
}

.vtv__tree-node {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 30px;
  margin: 0;
  padding: 6px 0;
  cursor: pointer;

  &:hover {
    background-color: $greyace;
  }

  span {
    line-height: 18px;
  }

  svg {
    margin-right: 7px;
  }
}
