@import "components/VanillaTreeViewer/Colors.scss";

.vtv__wrap-text-toggle {
  button {
    svg {
      width: 24px;
      height: 24px;

      path {
        stroke: $dark_jungle_green;
        &:last-child {
          fill: $dark_jungle_green;
        }
      }
    }
  }

  &.vtv__code-panel-action--active {
    button {
      svg {
        path {
          stroke: $wimbeldon_ridge;
          &:last-child {
            fill: $wimbeldon_ridge;
          }
        }
      }
    }
  }

}
