$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

@mixin breakpoint($point) {
  @if $point == $screen-xs {
    @media screen and (min-width: $screen-xs) { @content ; }
  } @else if $point == $screen-sm {
    @media screen and (min-width: $screen-sm) { @content ; }
  } @else if $point == $screen-md {
    @media screen and (min-width: $screen-md) { @content ; }
  } @else if $point == $screen-lg {
    @media screen and (min-width: $screen-lg) { @content ; }
  }
}
