@import "components/VanillaTreeViewer/Breakpoints.scss";
@import "components/VanillaTreeViewer/Colors.scss";

.vanilla-tree-viewer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 250px;
  margin: auto 20px;
  overflow: hidden;
  font-size: 16px;
  font-family: monospace;
  border-radius: 5px;

  box-shadow: 5px 5px 15px 0 rgba(50,50,50,.75);

  @include breakpoint($screen-xs) {
    flex-direction: row;
    width: 980px;
    height: 400px;
    margin: auto;
  }
}
