@import "components/VanillaTreeViewer/Breakpoints.scss";
@import "components/VanillaTreeViewer/Colors.scss";

.vtv-wrapper {
}

.vtv-root {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 250px;
  overflow: hidden;
  font-size: 16px;
  font-family: monospace;
  border-radius: 5px;

  @include breakpoint($screen-xs) {
    flex-direction: row;
    height: 400px;
    margin: auto;
  }
}
