@import "components/VanillaTreeViewer/Breakpoints.scss";

.vtv__code-panel {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

  height: 400px;
  max-height: 400px;
  overflow: hidden;

  @include breakpoint($screen-xs) {
    height: auto;
  }
}
