@import "components/VanillaTreeViewer/Breakpoints.scss";

.vanilla-tree-viewer__code-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;

  height: 400px;

  @include breakpoint($screen-xs) {
    width: 780px;
    height: auto;
  }
}
