body { font-family: 'Helvetica' }

.vtv-wrapper {
  margin: auto;
  max-width: 980px;
}

code.inline {
  font-family: monospace;
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
