@import "components/VanillaTreeViewer/Breakpoints.scss";

// COLORS

$beau_blue: #D8E9FD;
$bright_maroon: #c7254e;
$lapis_lazuli: #005CA3;
$dark_jungle_green: #23241f;
$naples_yellow: #F9DC5C;
$snow: #f9f2f4;

// SHARED

body {
  font-family: PT Sans, DejaVu Sans, Arial, sans;
  background-color: $lapis_lazuli;
  padding: 0 40px;
  font-size: 16px;
  color: $beau_blue;
}

a:link, a:visited {
  color: $naples_yellow;
}

h1 { font-size: 36px; }

section.content {
  width: 100%;
  margin: auto;

  @include breakpoint($screen-xs) {
    width: 1200px;
  }
}

code.inline {
  font-family: monospace;
  padding: 2px 4px;
  color: $bright_maroon;
  background-color: $snow;
  border-radius: 4px;
}

// HEADER

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 100px 0;

  @include breakpoint($screen-xs) {
    flex-direction: row;
  }
}
.header__left {
  width: 100%;
  text-align: left;

  @include breakpoint($screen-xs) {
    width: 500px;
  }
}
.header__title {
  margin: 0;
}
.header__tagline {
  font-style: italic;
  text-align: left;
  margin: 16px 0;
}
.header__right {
  flex: 1;
}
.header__logo {
  margin: auto;
}

.logo-link {
  svg {
    width: 100px;
  }
}

// DEMO

.demo {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include breakpoint($screen-xs) {
    flex-direction: row;
  }
}
.demo__preview {
  padding-top: 20px;

  @include breakpoint($screen-xs) {
    width: 800px;
  }
}
.demo__preview-explanation {
  margin: 25px 0 10px 0;
}
.demo__marketing {
  flex: 1;
  padding-left: 0;
  margin-top: 50px;

  @include breakpoint($screen-xs) {
    padding-left: 50px;
    margin-top: 0;
  }
}
.demo__features {
  padding-left: 0;
  padding-top: 20px;
  border-top: 1px solid white;

  li {
    list-style-type: square;
    list-style-position: inside;
    margin: 4px 0;
  }

  @include breakpoint($screen-xs) {
    border: none;
    padding: 0;
  }
}
#demo__get-started {
  margin: 10px 0;
}
.demo__get-started {
  background-color: $dark_jungle_green;
  border-style: 2px solid $beau_blue;
  display: block;
  margin: 40px 0;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  width: 12em;
  background: linear-gradient(to bottom, #444, #333);
  border-color: #555 #222 #222 #555;
  border-radius: 4px;
  border-width: 1px;
  font-size: 120%;
  font-weight: bold;
  text-shadow: black 1px 1px 2px;
}
.demo__links {
}

// FOOTER

.attribution {
  margin-top: 100px;
}
